# housing :: dockerignore

## project
.azure/
.docker/docker*
.terraformup/
.gitignore
CHANGELOG.md
LICENSE.txt
README.md

## angular
**/coverage/
**/dist/

## docker
**/dockerup*
!**/dockerup.yaml

## dotnet
**/.vscode/
**/.vs/
**/bin/
**/obj/

## macos
**/.DS_Store

## nodejs
**/node_modules/

